.o-layout {
  display: grid;
  grid-template-rows: 500px 1fr;
  grid-template-columns: 1fr 200px 800px 1fr;
  // grid-column-gap: $base-spacing-unit;
  min-height: 100vh;
}

.o-layout__header {
  grid-column: 1 / span 4;
}

.o-layout__sidebar {
  background-repeat: no-repeat;
  background-position: center -70px;
  background-size: 140px;

  grid-column: 2;
  grid-row: 2;
}

.o-layout__content {
  grid-column: 3;
  grid-row: 2;

  background-color: white;
  padding: 0 $base-spacing-unit;
}
